<app-logo></app-logo>
<div class="nav-container">
  <ul class="nav-list">
    <!-- Left options with separators -->
    <li class="nav-item">
      <a class="nav-link" href="#">Objeto1</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto2</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto3</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto4</a>
    </li>
    
    <!-- Right side buttons -->
    <li class="nav-item button-container" *ngIf="!islogin()">
      <button class="nav-btn login-btn" (click)="openLogin()">Iniciar Sesión</button>
      <button class="nav-btn register-btn" (click)="openRegister()">Registrarse</button>
    </li>
    
    <li class="nav-item button-container" *ngIf="islogin()" >
      <a href="#">{{user.username}}</a>
      <a href="#"><img [src]="user.img" alt="User profile"></a>
      <button class="nav-btn register-btn" (click)="logOut()">cerra sesion</button>
    </li>
  </ul>
</div>