<app-logo></app-logo>
<div class="nav-container">
  <ul class="nav-list">
    <!-- Opciones izquierda con separadores -->
    <li class="nav-item">
      <a class="nav-link" href="#">Objeto1</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto2</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto3</a>
    </li>
    <li class="nav-item with-separator">
      <a class="nav-link" href="#">Objeto4</a>
    </li>
    
    <!-- Contenedor para botones derecha -->
    <div class="button-container">
      <li class="nav-item">
        <button class="nav-btn login-btn" (click)="openLogin()">Iniciar Sesión</button>
      </li>
      <li class="nav-item">
        <button class="nav-btn register-btn"(click)="openRegister()">Registrarse</button>
      </li>
    </div>
  </ul>
</div>